---
layout: common
---

<section class="section notebook-pages">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">
          <i class="fas fa-book-open"></i>
        </h1>
        <h1 class="title has-text-centered">Notebooks & Journals</h1>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <a class="box beacon" href="/notebooks/tech_journal">
          <div class="content has-text-centered">
            <h4 class="title is-spaced">
              <i class="fas fa-code fa-2x"></i>
            </h4>
            <h6 class="subtitle has-text-grey">Tech Journal</h6>
          </div>
        </a>
        {% include posts/recent_list.html posts=site.categories.tech %}
      </div>

      <div class="column is-one-third">
        <a class="box beacon" href="/notebooks/hobbies_journal">
          <div class="content has-text-centered">
            <h4 class="title is-spaced">
              <i class="fas fa-gamepad fa-2x"></i>
            </h4>
            <h6 class="subtitle has-text-grey">Hobbies Journal</h6>
          </div>
        </a>
        {% include posts/recent_list.html posts=site.categories.hobby %}
      </div>

      <div class="column is-one-third">
        <a class="box beacon" href="/notebooks/storybook">
          <div class="content has-text-centered">
            <h4 class="title is-spaced">
              <i class="fas fa-book fa-2x"></i>
            </h4>
            <h6 class="subtitle has-text-grey">Story Book</h6>
          </div>
        </a>
        {% include posts/recent_list.html posts=site.categories.storybook %}
      </div>
    </div>
  </div>
</section>
