<header class="centered-header">
  <div class="brand">
    <a href="/">
      H<span class="unfocus">A</span>L
    </a>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a href="/posts.html">
          Blog
        </a>
      </li>
      <li>
        <a href="/projects.html">
          Projects
        </a>
      </li>
      <li>
        <a href="#">
          Talks
        </a>
      </li>
    </ul>
  </div>
  <div class="social">
    <a href="https://github.com/Rynaro" target="_blank">
      <i class="fa fa-github fa-2x"></i>
    </a>
    <a href="https://br.linkedin.com/in/hlavezzo" target="_blank">
      <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
  </div>
</header>
