{% case include.language %}
  {% when 'ruby' %}#CC342D
  {% when 'javascript' %}#F7DF1E
  {% when 'html' %}#E34F26
  {% when 'css' %}#563D7C
  {% when 'python' %}#3572A5
  {% when 'elixir' %}#4B275F
  {% when 'clojure' %}#5881D8
  {% when 'go' %}#00ADD8
  {% when 'rust' %}#DEA584
  {% when 'crystal' %}#000100
  {% when 'c' %}#555555
  {% when 'java' %}#B07219
  {% when 'php' %}#4F5D95
  {% when 'typescript' %}#2B7489
  {% when 'swift' %}#FFAC45
  {% when 'kotlin' %}#F18E33
  {% when 'scala' %}#DC322F
  {% when 'haskell' %}#5E5086
  {% when 'shell' %}#89E051
  {% when 'powershell' %}#012456
  {% else %}#999999
{% endcase %}
