<div class="leftbar">
  <ul class="menu-bar">
    <li class="menu-item">
      <a class="button" href="/">
        <span class="icon is-small is-outlined">
          <i class="fas fa-home"></i>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a class="button" href="/about">
        <span class="icon is-small is-outlined">
          <i class="fas fa-user-astronaut"></i>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a class="button" href="/notebook">
        <span class="icon is-small is-outlined">
          <i class="fas fa-pencil-ruler"></i>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a class="button" href="/laboratory">
        <span class="icon is-small is-outlined">
          <i class="fas fa-flask"></i>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a class="button" href="/letter">
        <span class="icon is-small is-outlined">
          <i class="fas fa-envelope"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
