/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

.wrapper {
  @include outer-container();
}

.centered-header {
  @include fill-parent();
  height: 50px;

  .brand {
    @include span-columns(2);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: $base-font-size + 0.25;
    letter-spacing: 1.2px;
    font-weight: 900;
    margin: 0;
    padding: 12px 0px 0px 20px;

    .unfocus {
      color: lighten($text-color, 45%);
    }

  }

  .menu {
    @include span-columns(8);
    text-align: center;

    ul {
      display: inline-flex;;
      list-style: none;
      li {
        display: list-item;
      }
    }

    a {
      color: $text-color;
      display: inline-block;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
      padding: 25px;
      text-transform: uppercase;
    }
  }
}

.hello-container {
  @include span-columns(12);

  margin-top: 25%;
  margin-bottom: auto;

  .highlighted {
    font-weight: bold;
  }

}

.name-box {
  @include span-columns(12);
  @include omega();
  text-align: center;

  h1 {
    font-family: 'Raleway', sans-serif;

    font-size: $base-font-size * 3;
    font-weight: 900;
  }

  &::after {
    content: ' ';
    display: block;
    height: 5px;
    width: 30px;
    background: #CCCCCC;
    margin: 10px auto 40px auto;
  }

}

.gentleman-separator {
  @include span-columns(12);
  @include omega();
}

.description-box {
  @include span-columns(7);
  @include shift(3);
  @include omega();
  font-family: 'Josefin Sans', sans-serif;

}
