html {
  background: $common-background;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

.container.main {
  @media screen and (max-width: $tablet) {
    padding-top: 65px;
  }
}

.main-page {
  background: $base-background;
}

.alchemy-main {
  background: $base-background;
  position: fixed;
  width: 100%;
  height: 100%;
}

.actionsbar {
  background: $sidebar-background;
  position: fixed;
  left: 0;
  width: 54px;
  height: 100vh;
  z-index: 10;

  @media screen and (max-width: $tablet) {
    width: 100%;
    height: 60px;
  }

  .menu-bar {
    list-style: none;
    padding-top: 10px;

    @media screen and (max-width: $tablet) {
      display: inline-flex;
      justify-content: center;
      margin-left: 8px;
      width: 100%;
    }

    .menu-item {
      text-align: center;
      padding-top: 5px;

      @media screen and (max-width: $tablet) {
        padding: 0px 8px 0px 0px;
      }

      a {
        background: $sidebar-background;
        color: $white-ter;
        border-color: $white-ter;

        &:hover {
          background: lighten($color: $sidebar-background, $amount: 11);
        }
      }
    }
  }
}

.credit {
  background: transparent;
  bottom: 0;
  height: 45px;
  width: 100%;
  padding-right: 25px;
  position: fixed;
  z-index: 10;

  @media screen and (max-width: $tablet) {
    height: 32px;
    padding-right: 12px;
  }

  .signature {
    color: $white-ter;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.2em;
  }
}

.curriculum {
  h1 {
    font-family: 'Quicksand', sans-serif;
  }

  .detail {
    i {
      margin-right: 5px;
    }
  }

  .section-header {
    margin: 4% auto;
  }

  .social {
    font-size: 1.7em;
    margin-right: 10px;

    &.in {
      color: #0073B1;
    }

    &.gh {
      color: #333333;
    }

    &.so {
      color: #F48024;
    }

    &.dv {
      color: #333333;
    }
  }
}

.skill-section {
  .skill-group {
    margin-top: 35px;
  }

  .highlighted {
    color: #F1AC21;
  }

  .fa-heart {
    color: #B20020;
  }
}

.language-section {
  .lang {
    color: #0081AF;
  }
}

.jobs {
  .description {
    height: 150px;
    min-height: 150px;
  }

  .tags {
    height: 65px;
    min-height: 65px;
  }

  .time {
    color: $grey-light;
    font-style: italic;
  }
}

.tags {
  .is-purple {
    background: $own-pastel-purple;
    color: $white-ter;
  }
}

.container {
  &.post {
    padding-top: 25px;
  }
}

.post {
  .header {
    border-bottom: 2px dashed $own-purple;
  }

  &.content {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    padding-bottom: 16px;

    pre {
      background: $white;
      border: 1px dashed $own-pastel-purple;
      border-radius: 3px;
      text-align: left;
    }
  }
}

.project-box {
  height: 100%;
  position: relative;

  .linkable {
    h4 {
      color: $own-pastel-purple;
    }

    .go-arrow {
      font-size: 0.7em;
      margin-left: 7px;
      padding-bottom: 3.5px;
      color: #FFFFFF;
    }

    &:hover{
      > h4 {
        color: $own-purple;

        > .go-arrow {
          color: $own-purple;
        }
      }
    }

  }

  .github-holder {
    position: absolute;
    right: 12px;
    top: 7px;
  }
}

.notebook-pages {
  .page-marker {
    transition: background 0.2s ease-in;

    &:hover {
      background: $own-lighten-pastel-purple;
      box-shadow: 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px $own-pastel-purple;
    }
  }

  .title {
    margin-bottom: 7.5px;
  }

  .date {
    font-size: 0.9em;
  }

  .recents {
    .post-item {
      border-bottom: 1px solid $grey-light;
      padding-bottom: 5px;
      transition: background 0.2s ease-in;

      &:hover {
        background: $own-lighten-pastel-purple;
        border-bottom-color: $own-pastel-purple;

        > h4 {
          color: $own-purple !important;
        }
      }
    }
  }
}

.contact {
  .is-purple {
      background: $own-purple;
      color: #FFFFFF;

      &:hover {
        background: lighten($color: $own-purple, $amount: 12);
      }
  }
}
