$light-pink: #FDC5F5;
$default-pink: #F7AEF8;
$default-purple: #B388EB;
$default-blue: #8093F1;
$light-blue: #72DDF7;

$base-background: $default-purple;
$font-color: #E5E6E4;
$bubble-silhouette: #FEF6BD;

$sidebar-background: lighten($color: $light-pink, $amount: 5);
$common-background: #FFFFFF;
