<!DOCTYPE html>
<html>
  <head>
    {% include head_tags.html %}

    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body class="main-page">
    {% include sidebar.html %}
    <div class="alchemy-main" id="board"></div>

    <footer class="credit">
      <p class="signature is-pulled-right">Henrique A. Lavezzo</p>
    </footer>

    <script src="{{'/vendor/js/phaser.min.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/intro/scene.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/intro/potion.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/intro/startButton.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/level/scene.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/assetManager.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/hud/scoreText.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/hud/clockText.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/level/controller/collider.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/controller/gameClock.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/controller/score.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/controller/gamepad.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/controller/stuffPopulation.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/controller/stuffGenerator.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/level/controller/stuffSelectize.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/gameOver/scene.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/gameOver/hud/gameOverText.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/gameOver/hud/finalScoreText.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/gameOver/hud/restartButton.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/resources/player/player.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/resources/stuffItem/lifespanEvent.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/movementPathGenerator.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/resources/stuffItem/kinds/kindBase.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/kinds/poison.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/kinds/health.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/kinds/mana.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/kinds/goodFortune.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/kinds/empty.js' | prepend: site.baseurl}}"></script>

    <script src="{{'/assets/js/game/resources/stuffItem/commonStuff.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/strayStuff.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/circularStuff.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/game/resources/stuffItem/staticStuff.js' | prepend: site.baseurl}}"></script>



    <script src="{{'/assets/js/game/main.js' | prepend: site.baseurl}}"></script>

    {% include analytics.html %}
  </body>
</html>
