---
layout: common
---

<div class="container post">
  <article>
    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <div class="columns">
          <header class="column">
            <h1 class="title has-text-centered">{{ page.title }}</h1>
            <h6 class="subtitle has-text-centered">
              {{ page.date | date: "%b %-d, %Y, %H:%M h" }}
            </h6>
          </header>
        </div>
        <div class="post content">{{ content }}</div>
      </div>
    </div>
  </article>
  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
