---
layout: common
---

<div class="container post">
  <article>
    <div class="columns is-centered is-mobile">
      <div class="column is-three-quarters">
        <div class="columns header">
          <header class="column">
            <h1 class="title has-text-centered">{{ page.title }}</h1>
            <h6 class="subtitle is-6 has-text-grey has-text-centered">
              {{ page.author }} at {{ page.date | date: "%b %-d, %Y, %H:%Mh" }}
            </h6>
          </header>
        </div>
        <div class="post content">{{ content }}</div>
      </div>
    </div>
  </article>
  <div class="columns is-mobile">
    <div class="column is-three-quarters">
      {% if page.comments %}
        {% include disqus.html %}
      {% endif %}
      </div>
    </div>
</div>
